.container{
    margin-top: 5rem;
    height:  40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.commentTextfield {
    width : 500px;
    margin-bottom: 2rem;
    color : black;
}
.commentsBtn {
    width : 150px;
    height : 35px;
    color: rgb(241, 236, 227);
    background-color: rgb(154, 152, 160);
    
    
}
.nameTextfield {
    width : 500px;
    margin-bottom: 2rem;
}
.contentCard {
    margin-left : 5rem;
}
.cards{
    margin:auto ;
    margin-top : 5rem ;
}

@media screen and (max-width : 1200px) {
    .cardProject {
        flex-wrap: wrap;
    }
}
@media screen and (max-width : 800px) {
    .cards{
        width: 50%;
        margin:auto ;
        
    }
    .cardContainer {
        display: flex;
        flex-direction: column;
    }
    .container {
        margin-top: 5rem;
        margin-left: 2rem;
    }
    .nameTextfield, .commentTextfield {
        width : 60%
    }
}
@media screen and (max-width : 400px) {
    .text {
        width: 90%;
    }
    .cards{
        width: 80%;
        margin:auto ;
        
    }
    .container{
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}